{{#each data}}

  <tbody class="group-head" data-index="{{@index}}">
  <tr>
    <td class="group" colspan="{{@root.config.rowLength}}">
      <div class="group-head-content group">
        <button
          data-index="{{@index}}"
          class="accordion-control group">
        </button>
        {{this.display}} <br>
        {{@root.config.groupTitle}} {{this.itemCount}}
      </div>
    </td>
  </tr>
  </tbody>

  <tbody class="group-body is-hidden" data-index="{{@index}}">
    {{> group-rows }}
  </tbody>

{{/each}}
